@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
</head>
<body>
    <div>
        <input type="text" class="form-control" name="code" id="code" value="3514" />
        <input type="submit" class="btn btn-success" name="getdata" id="getdata" />
    </div>
    <div id="main" style="height:400px"></div>


</body>

@section scripts
{
    <script src="~/TypeScript/KLine.js"></script>
    <script src="~/Scripts/Echart/echarts_all.js"></script>
    <script src="~/JavascriptOwn/EChartDefault.js"></script>

<script type="text/javascript">

    $(function () {
  
        $("#getdata").click(function () {          
            $.ajax({
                url: '@Url.Action("GetStockPrice","Home")',
                data: {
                    code:$("#code").val()
                },
                type: "POST",
                success: function (data) {
                    debugger;
                    var kline = new KLine();
                    kline.GetData(data);

                    var targetObj = document.getElementById('main');
                    var echartKline = new echartDefault(require);
                    echartKline.date = kline.timedata;
                    echartKline.price = kline.pricedata;
                    echartKline.title = kline.title;
                    echartKline.defaultOption(targetObj);

                },

                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        });   
    });


</script>
}

